<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex , nofollow" />
    <title>Maya Uematsu PORTFOLIO - Mori Maiko exbition.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <script>
      (function (d) {
        var config = {
            kitId: "kue2baj",
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className =
              h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || (a && a != "complete" && a != "loaded")) return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config);
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-DLY1KKL9B6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-DLY1KKL9B6");
    </script>

    <link href="../css/style.css" rel="stylesheet" media="all" />
  </head>

  <body id="works">
    <div id="splash"></div>
    <div class="splashbg"></div>

    <div class="wrapper mori" id="wrapper">
      <div id="mouse"></div>
      <header class="header" id="header">
        <h1 class="header__ttl">
          <a href="../index.html" class="header___link">
            <img
              src="../images/header_logo.svg"
              alt="ヘッダーロゴ"
              class="header__logo"
          /></a>
        </h1>
        <div class="btn" id="btn">
          <span class="btn__top"></span>
          <span class="btn__middle"></span>
          <span class="btn__bottom"></span>
        </div>
        <nav class="gnav" id="gnav">
          <div class="gnav__wrap">
            <ul class="gnav__nav">
              <li class="gnav__list stkr-target">
                <a href="../index.html#about" class="gnav__link">ABOUT</a>
              </li>
              <li class="gnav__list stkr-target">
                <a href="../index.html#work" class="gnav__link">WORK</a>
              </li>
              <li class="gnav__list stkr-target">
                <a href="../index.html#skill" class="gnav__link">SKILL</a>
              </li>
              <li class="gnav__list stkr-target">
                <a href="../index.html#int" class="gnav__link">INTERESTING</a>
              </li>
            </ul>
          </div>
          <div class="gnav__mail">
            <a href="#" class="gnav__mailLink">um98my@gmail.com</a>
          </div>
        </nav>
      </header>

      <main class="main" id="main">
        <div class="works">
          <div class="works__bgWrap">
            <div class="works__bg works__bgmori"></div>
            <div class="works__circle"></div>
          </div>
          <div class="works__flexwrap">
            <div class="works__wrap">
              <p class="works__pic">
                <img
                  src="../images/img_mockup_morimaiko.png"
                  alt="作品画面モックアップ"
                  class="works__img"
                />
              </p>
              <div class="works__container">
                <div class="works__box">
                  <h2 class="works__ttl">Mori Maiko exbition</h2>
                  <p class="works__itemSub">展覧会告知HP</p>
                  <div class="works__tagWrap">
                    <p class="works__tag">#cording</p>
                  </div>
                </div>
                <div class="more stkr-target">
                  <a
                    href="../Morimaiko/index.html"
                    class="more__link"
                    target="_blank"
                  >
                    <p class="more__txt">visit site</p>
                  </a>
                </div>
              </div>
              <div class="works__cap">
                <div class="works__time">
                  製作時期：入学4ヶ月目　制作期間：3日間<br />
                  HTML/Sass/Jquery　レスポンシブ対応　一部下層ページあり
                </div>
                <p class="works__txt">
                  レスポンシブ対応したデザインであること、<br />
                  MVの写真をデバイスのサイズによって出し分けること、<br />
                  グリッドレイアウトを使用することが条件の課題で制作しました。<br />
                  レスポンシブやグリッドレイアウトはもちろん、<br />
                  個人的に苦手だったHTMLのリスト要素を重点的に復習できたことが大きな収穫でした。<br />
                  デザインは好きなイラストレーターの方の展示会HPを参考にしています。<br />
                </p>
              </div>
              <div class="navi">
                <div class="prev stkr-target">
                  <a href="musubi.html" class="navi__link">PREV</a>
                  <div class="prev__line"></div>
                </div>
                <p class="return stkr-target">
                  <a href="../index.html#work" class="return__link"
                    >return to TOP</a
                  >
                </p>
                <div class="next stkr-target">
                  <a href="sides.html" class="navi__link">NEXT</a>
                  <div class="next__line"></div>
                </div>
                <div class="numbering">8／12</div>
              </div>
            </div>
            <div class="works__pageshot">
              <div class="works__scroll"><span>Scroll</span></div>
              <p class="works__pagepic">
                <img
                  src="../images/page_morimaiko.webp"
                  alt="wssページフルスクリーンショット"
                  class="works__pageimg"
                />
                <img
                  src="../images/page_morimaiko-2.webp"
                  alt="wssページフルスクリーンショット"
                  class="works__pageimg"
                />
              </p>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/desvg@1.0.2/desvg.min.js"></script>
    <script src="../js/function.js"></script>
  </body>
</html>
