#about {
    .wrapper {
        background-color: #fff5f0;
        overflow: hidden;
    }

    .gnav {
        &__link {
            @media screen and (min-width: 1024px) {
                color: #000 !important;
            }
        }
    }

    .btn {
        // background-color: #000;
    }

    .heading {
        width: 100%;
        height: 100vh;
        padding: 75px 28px 0;
        position: relative;

        @media screen and (min-width: 768px) {
            height: auto;
        }

        &__wrap {
            width: 100%;
            position: relative;
            top: 10%;
            left: 0;
        }

        &__subttl {
            width: 280px;
            margin: 0 0 30px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__txt {
            @include ttl;
            font-size: 13px;
        }

        &__ttl {
            margin-bottom: 20px;
        }

        span {
            width: 100px;
            height: 1px;
            background-color: #000;
        }

        &__pic {
            width: 300px;
            height: 300px;
            margin: 0 auto 50px;
            background-color: #258;
            border-radius: 50%;

            @media screen and (min-width: 768px) {
                width: calc(80vw * .5);
                height: calc(80vw * .5);
                min-width: 450px;
                min-height: 450px;
                max-width: 600px;
                max-height: 600px;
            }
        }
    

    &__cap {
        font-size: 14px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            text-align: center;
            line-height: 1.2;
        }
    }
}

.intro {
    padding: 120px 28px 0;

    &__ttl {
        @include secttl;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-align: center;
        margin-bottom: 60px;
    }

    &__container {
        width: calc(100vw * 0.85);
        height: calc(100vw * 0.85);
        max-width: 520px;
        max-height: 520px;
        margin: 0 auto 40px;
        position: relative;
        border: .5px solid #000;
        border-radius: 50%;
    }

    &__box {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__subttl {
        font-size: 20px;
        letter-spacing: 0.1rem;
        text-align: center;
        margin-bottom: 38px;
    }

    &__txt {
        width: 75%;
        max-width: 395px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.2;
    }
}

.why {
    padding-top: 120px;

    &__ttl {
        margin-bottom: 60px;
        @media screen and (min-width: 768px) {
          margin-bottom: 80px;
        }
    }

    &__wrap {
        padding: 0 28px;
    }

    &__txt {
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: .05rem;
        margin-bottom: 32px;

        @media screen and (min-width: 768px) {
          width: 70%;
          margin: 0 auto 40px;
        }
    }
}

.topic {
    padding: 120px 28px 0;
    margin-bottom: 120px;
    position: relative;

    @media screen and (min-width: 768px) {
      padding: 180px 50px 0;
    }

    &__bg {
        width: calc(100% - 28px);
        height: 860px;
        position: absolute;
        top: 190px;
        right: 0;
        background-color: #F5EAEA;
        @media screen and (min-width: 768px) {
            width: calc(100% - 50px);
            top: 280px
        }
    }

    &__wrap {
        padding-left: 28px;
        position: relative;
        z-index: 1;
        @media screen and (min-width: 768px) {
          padding-left: 50px;
        }
    }

    &__ttl {
        @include secttl;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin-bottom: 50px;
        @media screen and (min-width: 768px) {
          font-size: 64px;
        }
    }

    &__subttl {
        font-size: 14px;
        margin-bottom: 10px;
    }

    &__cap {
        width: 100%;
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
          font-size: 32px;
          letter-spacing: 0.1em;
        }
    }

    &__txt {
        width: 100%;
        line-height: 1.5;
        letter-spacing: 0.05em;
        margin-bottom: 40px;
    }

    &__pic {
        width: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.return {
    @include worksToTopBtn;
    margin: 0 auto;
}

.footer {
    color: #000;

    &__img {
        stroke: #000;
    }
}
}