---
import { Image } from "astro:assets";
import mailHuge from "../../assets/images/top/mail_huge_pn.svg";
---

<h2 class="footer__ttl">
  <span class="fadeUp">T</span>
  <span class="fadeUp">h</span>
  <span class="fadeUp">a</span>
  <span class="fadeUp">n</span>
  <span class="fadeUp">k</span>
  <span class="fadeUp"> </span>
  <span class="fadeUp">y</span>
  <span class="fadeUp">o</span>
  <span class="fadeUp">u</span>
  <span class="fadeUp">!</span>
</h2>
<div class="footer__txt fadeUp">
  ここまでご覧いただきありがとうございました。<br />
  なにかございましたらgithubや下のフォームをお使いいただくか、<br />
  下記のメールアドレスまでご連絡いただけますと幸いです。<br />
  （アドレス部分をクリックするとコピーされます）
</div>

<form
  id="form"
  class="form"
  action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScOjSpbU6B4s734c1mqIOLM8m0gQugQQX7hX8L68_kOVhvKUw/formResponse"
  method="post"
  target="#hidden_iframe"
  onsubmit="submitted=true;"
>
  <div class="form__box">
    <label for="name" class="form__label">NAME</label>
    <input
      type="text"
      id="name"
      class="form__input"
      name="entry.2074291356"
      required
      placeholder="お名前"
    />
  </div>

  <div class="form__box">
    <label for="email" class="form__label">MAIL</label>
    <input
      type="email"
      id="email"
      class="form__input"
      name="entry.1377887996"
      required
      placeholder="メールアドレス"
    />
  </div>

  <div class="form__box">
    <label for="message" class="form__label">Message</label>
    <textarea
      name="entry.1226077903"
      id="message"
      class="form__textarea"
      required
      placeholder="ご連絡の内容"></textarea>
  </div>

  <div class="form__box">
    <input type="submit" class="form__submit stkr-target" value="SEND" />
  </div>
  <p class="form__message">お問い合わせありがとうございました。</p>
  <p class="form__message">2日以内にymkmy98@gmail.comよりお返事いたします。</p>
  <p class="form__false">送信失敗です</p>
</form>

<div class="footer__txtCopy">ymkmy98@gmail.com</div>
<p class="footer__mail stkr-target-txt">
  <Image src={mailHuge} alt="um98my@gmail.com" class="footer__img" />
</p>

<p class="footer__copy"><small>&copy; Maya Uematsu</small></p>
